<h2>Create Employee Form</h2>


  
      
    <div>
      <label for="employee-username">Username: </label>
      <input id="employee-username" [(ngModel)]="username" placeholder = "username">
      <br/>
      <br/>

      <label for="employee-password">Password: </label>
      <input id="employee-password" [(ngModel)]="password" placeholder="password">
    <br/>
    <br/>

    <label for="employee-email">email: </label>
    <input id="employee-email" [(ngModel)]="email" placeholder="email"  placeholder="email">
    <br/>
    <br/>


    <label for="album-year">phone: </label>
    <input id="album-title" [(ngModel)]="phone" placeholder="phone"  placeholder="phone">
    <br/>
    <br/>

    <label for="album-year">firstname: </label>
    <input id="album-title" [(ngModel)]="firstname" placeholder="firstname"  placeholder="firstname">
    <br/>
    <br/>

    <label for="album-year">lastname: </label>
    <input id="album-title" [(ngModel)]="lastname" placeholder="lastname"  placeholder="lastname">
    <br/>
    <br/>

    <label for="album-year">role: </label>
    <input id="album-title" [(ngModel)]="role" placeholder="role"  placeholder="role">
    <br/>
    <br/>










    </div>

<button type="button" (click)="CreateEmployee()">create</button>

