<nz-layout class="layout">
    <nz-header>
    
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>Employee Portal</li>
        <li nz-menu-item>Sign Out</li>
        <li nz-menu-item>Pay To Date</li>
        <li nz-menu-item>Company News and Alerts</li>
      
      </ul>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
       
      </nz-breadcrumb>
      <div class="inner-content">
        <h1>Employee Management Portal</h1>
        <div class="inner-buttons">
        <button nz-button nzType="Primary">Clock In</button>
        <button nz-button nzType="default">Clock Out</button>

    </div>
      </div>
    </nz-content>
    <nz-footer>WorkXTimeAndAttendance Incorporated @2022</nz-footer>
  </nz-layout>