<nz-layout class="layout">
    <nz-header>
    
      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>Clock Out</li>
        <li nz-menu-item (click)="ClockIn()">Clock In </li>
        <li nz-menu-item (click)="Back()">Sign Out</li>
     
        <!-- <app-user-login [newEmployee]='newEmployee'></app-user-login>
       -->
     
      </ul>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
       
      </nz-breadcrumb>
      <div class="inner-content">
        <h1>Employee Management Portal</h1>
        <h2>Employee Schedule</h2>
      
        <div class="inner-buttons">
       
        <app-schedulecomponent></app-schedulecomponent>
    </div>
      </div>
    </nz-content>
    <nz-footer>WorkXTimeAndAttendance Incorporated @2022</nz-footer>
  </nz-layout>
  