<h1 mat-dialog-title> Clock Out Form </h1>
<div mat-dialog-content>
    <form [formGroup]="ClockInForm">
        <mat-form-field matColumnDef="firstname">
            <mat-label>FirstName</mat-label>
            <input formControlName="firstname" matInput placeholder="Name" readonly=""/>
            
          </mat-form-field>
      
           <mat-form-field matColumnDef="">
              <mat-label>LastName</mat-label>
              <input formControlName="lastname" matInput placeholder="Name"readonly=""/>
          
            </mat-form-field>
      
            <mat-form-field matColumnDef="outline">
              <mat-label>punch_out</mat-label>
              <input formControlName="punch_out" matInput placeholder="" readonly=""/>
              
            </mat-form-field>
      
            <mat-form-field matColumnDef="outline">
              <mat-label>comments</mat-label>
              <input formControlName="comments" matInput placeholder="Name"/>
          
            </mat-form-field>
            <mat-form-field matColumnDef="outline">
                <mat-label>role</mat-label>
                <input formControlName="role" matInput placeholder="Name"readonly=""/>
            
              </mat-form-field>  
              </form>
              </div>

              <div mat-dialog-action [align]="'end'"></div>
              <button mat-raised-button color="warn" (click)="PunchOut()"> {{actionBtn}}</button> 
           